@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Fugaz+One&family=Lilita+One&family=Pacifico&family=Quicksand:wght@300;400;500;600;700&family=Righteous&family=Rubik+Mono+One&display=swap');

:root {
    /* --primary-color: #22333b; */
    --dark: #1b1f2e;
    --bleach: #fdf6ed;
    --dark-green: #26403C;
    --yellowish: #f49f0a;
    --ocean: #00a6a6;
    --redish: #f73e3e;
    --creamy: #f3b88474;
    --blueish:  #12398d;
    --neon-green: #0ac753;
    --deep-purple: #242038; 
    
}

*{
    cursor: none;
    font-family: 'Fugaz One', sans-serif;
}

body{
    margin: 0;
    background-color: var(--bleach);
}

.cursor{
    border: 2.5px solid var(--dark);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}


.cursor:hover {
    border-color: var(--bleach);
  }
