@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Fugaz+One&family=Lilita+One&family=Pacifico&family=Quicksand:wght@300;400;500;600;700&family=Righteous&display=swap');


:root {
    /* --primary-color: #22333b; */
    --dark: #101319;
    --bleach: #fdf6ed;
    --dark-green: #1f8b40;
    --yellowish: #f49f0a;
    --ocean: #00a6a6;
    --redish: #b80c09;
    --greenish: #09b84c;
}

*{
    cursor: none;
}

html{
    background-color: var(--bleach);
}

.cursor{
    background-color: var(--dark);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

